html, body {
  height: 100%;
  background-color: #f8f9fa;
}

main {
  min-height: calc(100vh - 56px);
}

.card-hover {
  transition: box-shadow 0.2s, transform 0.2s;
  &:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
    transform: translateY(-2px);
  }
}

.table > :not(caption) > * > * {
  vertical-align: middle;
}
